<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The Cryptominded Bot</title>
		<meta charset="utf-8" />
		<meta name=”keywords” content="slack, slackbot, slack app" />
		<meta name="description" content="The Cryptominded Bot informs you about cryptocurrencies movements">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
		<meta property="og:site_name" content="The Cryptominded Bot">
		<meta property="og:title" content="A Slack bot to help you trade cryptocurrencies.">
		<meta property="og:url" content="http://www.thecryptomindedbot.com">
		<meta property="og:image" content="http://www.thecryptomindedbot.com/static/images/preview.jpg">
		<meta property="og:description" content="The Cryptominded Bot helps you trade cryptocurrencies.">
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:title" content="A Slack bot to help you trade cryptocurrencies.">
		<meta name="twitter:creator" content="@antoninarto">
		<meta name="twitter:label1" value="Rating">
		<meta name="twitter:data1" value="⭐⭐⭐⭐⭐">
		<meta name="twitter:label2" value="Add to Slack">
		<meta name="twitter:data2" value="http://www.thecryptomindedbot.com">
		<meta name="twitter:image" content="http://www.thecryptomindedbot.com/static/images/twitter-product-logo.jpg">
		<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="static/stylesheets/style.css">				
		<link rel='shortcut icon' href='static/images/favicon.ico' type='image/x-icon'/ >	
	</head>	
	<body>
	<div class="main filled centered">
    <img class="madeforslack" src="static/images/madeforslack.png" alt="Made for Slack" />
    <div class="container fadein">
      <div class="row">
        <div class="col-md-12">
          <!-- <img class="logo" src="static/images/logo.png" alt="The Cryptominded Bot logo" /> -->
          <h1 class="light">Hello&nbsp!<br>I'm a Cryptominded&nbspBot</h1>
          <p class="subtitle light">I can show you cryptocurrency prices, generate charts and even warn you about ongoing pumps and dumps&nbsp!</p>
          <div class="row">
            <div class="col-md-12 slackbutton">
              <a href="https://slack.com/oauth/authorize?client_id=123049391908.294771441188&scope=bot,commands"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
            </div>
          </div>  
        </div>
      </div>
			<img class="example" src="static/images/good_loop_final.gif" alt="Screenshot Example" />		
		</div>	
	</div>	

  <div class="site-info">
    Made by <a href="http://twitter.com/antoninarto" onclick="ga('send', 'event', 'Links', 'clicked', '@antoninarto');">me</a> 
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113924163-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113924163-1');
    ga('send', 'pageview');
  </script>
</body>
</html>